{% extends 'base.html' %}

{% block content %}
  <body id="userbody">
    <div id="infoaluno">
      <div style="text-align: center;">
        <h3 class="text-left" style="text-align: center;">{{ user_data['nome_usual'] }}</h3>
        
        <img src="https://suap.ifrn.edu.br{{ user_data['url_foto_150x200'] }}" alt="foto" class="mx-auto d-block">

        <h3 style="text-align: center;">Informações</h3>
        
        <table class="table table-bordered table-striped table-hover" style="margin-top: 10px;">
          {% for field in user_data %}
            <tr>
              <th>{{ field }}</th>
              <td>{{ user_data[field] }}</td>
            </tr>
          {% endfor %}
        </table>
    
        {% include 'boletim.html' %} 
    
        <div class="text-center" id="logout">
          <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>
        </div>

      </div>
    </div>
  </body>
{% endblock %}